[bumpversion]
current_version = 0.1.0  # 当前版本号
commit = True  # 是否提交更改
tag = True  # 是否打标签
tag_name = v{new_version}  # 标签名称格式
message = Bump version: {current_version} → {new_version}  # 提交信息格式

[files:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[files:{{ cookiecutter.project_slug }}/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"